//Animal Cards

///BEM
.cards {

    &__spacing {
        padding: 1rem;
    }

    &__right {
        float: right;
    }

    &__left {
        background: pink;
        margin-left: 20%;
        align-content: space-evenly;
    }
}

//Drupal Selectors Homepage
#block-views-block-animal-news-article-block-1 {


    .view-content {
        //@include duk-island;
        //@extend .cards__spacing;

    }

    .views-row {
        //@extend .cards__spacing;

    }

    .image-style-pet-news-150x150 {
        //@extend .cards__left;

    }

    .group-right {
       // @extend .cards__right;

    }
}
